<button mat-button [matMenuTriggerFor]="menu">Choose theme</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="setTheme('')">Item 1</button>
  <button mat-menu-item (click)="setTheme('testTheme')">Item 1</button>
</mat-menu>

<div class="row">
  <p>Content</p>
  <button mat-button routerLink="/search">Search by name</button>
</div>

<div class="row">
  <p>Page with list of teams</p>
  <button mat-button (click)="addTeam()">Add team</button>
</div>

@for (team of teams; track team.id) {
<mat-list role="list">
  <div class="row">
    <mat-list-item role="listitem">
      {{ team.id }} | {{ team.name }}
    </mat-list-item>
    <button mat-button (click)="teamDetail(team.id)">Detail</button>
  </div>
</mat-list>
}
